<app-back></app-back>
<div class="container text-center mt-4">
    <p class="h1 text-light">{{textinfo}}</p>
    <p class="h1 text-light">Puntos: {{puntos}} Tiempo: {{time}}</p>
</div>

<div class="d-flex justify-content-center">
    <div class="button-grid">
        <app-button-tateti (newOcupado)="maquina($event)" [pointerEvent]="button.pointerEvent" [id]="button.id" [ocupado]="button.ocupado" [botOcupado]="button.botOcupado" *ngFor="let button of buttons"></app-button-tateti>
    </div>
</div>
<div class="d-flex justify-content-center mt-4">
    <button (click)="guardar()" [disabled]="disabled" class="btn btn-info mb-4 text-light me-4" type="button" style="height: 50px; width: 150px;">Guardar</button>
    <button (click)="reiniciar()" class="btn btn-danger mb-4" type="button" style="height: 50px; width: 150px;">Reiniciar</button>
</div>



